@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#06140e] text-[#e8ece9] antialiased selection:bg-[#d4af37] selection:text-[#06140e];
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom Bottle Green & Gold Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #06140e;
  }
  ::-webkit-scrollbar-thumb {
    background: #19382b;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d4af37;
  }
}